/*  your css code here. If applicable */
#page{
	width: 500px;
	height:300px;
	background-color: gray;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:10px;
}
#color1{
		width: 100px;
	height: 50px;
	background-color: red;
	border-radius:50%;
}
#color2{
	width: 100px;
	height: 50px;
	background-color: yellow;
	border-radius:50%;
}
	#color3{
		width: 100px;
	height: 50px;
	background-color: green;
		border-radius:50%;
	}



